* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600');
@import url('https://fonts.googleapis.com/css?family=Poppins:500,500i,600|Roboto+Condensed:300,400');
.container {
    margin: 0 auto;
    width: 1920px;
}

.header {
    height: 725px;
    background: url(img/FON_HEADER.jpeg) no-repeat;
    display: block;
    overflow: hidden;
}

.header1 {
    height: 175px;
    display: block;
    overflow: hidden;
}

.black_line {
    margin-top: 13px;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 83px;
    overflow: hidden;
}

.black_line ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
}

.black_line ul li a {
    text-decoration: none;
}

.black_line ul li {
    float: left;
    display: block;
}

.a {
    margin-left: 475px;
}

.b {
    margin-left: 155px;
    line-height: 83px;
}

.c {
    margin-left: 40px;
    line-height: 83px;
}

.t1 {
    margin-left: 130px;
    border: 1px solid #ffffff;
    width: 206px;
    height: 36px;
    margin-top: 23.5px;
    border-collapse: collapse;
}

.f1 {
    width: 157px;
    border-right: 1px solid #ffffff;
}

.f2 {
    text-align: center;
    padding-top: 6px;
}

.a h3 {
    margin-top: 7px;
    margin-bottom: -8px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    overflow: hidden;
}

.a h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
}

.a ul li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    display: block;
}

.w {
    margin-left: 21.86px
}

.b li {
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 16.62px;
    font-weight: 400;
}

.b li img {
    margin-top: 27px;
    margin-right: 15px;
}

.c li {
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 16.62px;
    font-weight: 400;
}

.c li img {
    margin-top: 33px;
    margin-right: 15px;
}

.d {
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 16.62px;
    font-weight: 400;
}

.f1 p {
    margin: 0;
    margin-left: 15px;
}

.a a h3:hover {
    color: aqua;
}

.a a h3:active {
    color: aquamarine;
}

.b:hover {
    color: aqua;
}

.b:active {
    color: aquamarine;
}

.c:hover {
    color: aqua;
}

.c:active {
    color: aquamarine;
}

.menu ul {
    padding: 0px;
    margin-left: 674px;
    margin-top: 32px;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 0px;
}

.menu1 ul {
    padding: 0px;
    margin-left: 674px;
    margin-top: 32px;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 0px;
}

.menu ul li {
    float: left;
    margin-left: 29px;
    padding-bottom: 29.62px;
    margin-bottom: 0px;
}

.menu1 ul li {
    float: left;
    margin-left: 29px;
    padding-bottom: 29.62px;
    margin-bottom: 0px;
}

.menu hr {
    overflow: hidden;
    margin: 0 auto;
    margin-top: -3px;
}

.menu1 hr {
    overflow: hidden;
    margin: 0 auto;
    margin-top: -4px;
    color: black;
}

.menu ul li a {
    text-decoration: none;
    font-family: RobotoCondensed;
    color: #000000;
    font-size: 16.62px;
    font-weight: 400;
}

.menu1 ul li a {
    text-decoration: none;
    font-family: RobotoCondensed;
    color: gray;
    font-size: 16.62px;
    font-weight: 400;
}

.menu ul li a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 29.62px;
    margin-bottom: -3px;
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 16.62px;
    font-weight: 400;
}

.menu1 ul li a:hover {
    border-bottom: 3px solid black;
    padding-bottom: 26.62px;
    margin-bottom: -3px;
    font-family: RobotoCondensed;
    color: black;
    font-size: 16.62px;
    font-weight: 400;
}

.nunc {
    display: inline-block;
    text-decoration: none;
    margin-top: 140px;
    margin-left: 906px;
    font-family: RobotoCondensed;
    color: #000000;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    padding-bottom: 16.2px;
}

.nunc:hover {
    color: #ffffff;
    padding-bottom: 13.2px;
    border-bottom: 3px solid #ffffff;
}

.Morbi {
    display: inline-block;
    margin-left: 675px;
    margin-top: 50px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 0;
}

.ceti {
    padding: 0;
    list-style-type: none;
}

.ceti li {
    float: left;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
    width: 36px;
    height: 36px;
    margin-top: 40px;
}

.cet {
    margin-left: 12px;
}

.ceti li:hover {
    background-color: aqua;
}

.ceti li:active {
    background-color: aquamarine;
}

.block2 {
    clear: both;
    height: 500.75px;
}

.block3 {
    display: inline-block;
    float: left;
    margin-left: 475px;
    margin-top: 95px;
}

.Nemo {
    font-family: RobotoCondensed;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 auto;
}

.About {
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sloi {
    margin-left: 37px;
    margin-top: 81px;
}

.block4 {
    clear: both;
    background-color: #f7f7f7;
    width: 1920px;
    height: 762px;
}

.table {
    border: 0px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

.tab {
    text-align: center;
    width: 281px;
    height: 175;
    border: 0px solid black;
    text-align: center;
}

.tab2 {
    width: 180.5px;
    height: 175px;
    border: 0px solid black;
    text-align: center;
}

.tab1 {
    height: 175px;
    text-align: center;
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.tab21 {
    width: 281px;
    height: 175;
    border: 0px solid black;
    text-align: center;
}

.tab21 h3 {
    font-family: Poppins;
    color: #f44336;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: right;
    margin: 0;
}

.t111 {
    font-family: RobotoCondensed;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
    margin: 0;
}

.t1111 {
    font-family: RobotoCondensed;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.t333 {
    margin: 0;
    font-family: Poppins;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
}

.t3333 {
    margin: 0;
    font-family: Poppins;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.block5 {
    width: auto;
}

.block5 ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.kartin {
    width: 271px;
    float: left;
    margin-left: 29px;
}

.kartin1 {
    width: 271px;
    float: left;
    margin-left: 29px;
}

.block5 ul:first-child {
    margin-left: 345px;
}

.kartin img {
    margin: 0;
    float: left;
}

.kartin div {
    height: 104.5px;
    clear: both;
    overflow: hidden;
    text-align: center;
    background-color: #f7f7f7;
}

.kartin1 div {
    height: 104.5px;
    clear: both;
    overflow: hidden;
    text-align: center;
}

.kartin div p {
    font-family: Poppins;
    color: #000000;
    font-size: 14.01px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    transform: scaleX(1.0025);
}

.kartin1 div p {
    font-family: Poppins;
    color: #000000;
    font-size: 14.01px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    transform: scaleX(1.0025);
}

.kartin div input {
    background-color: #f44336;
    width: 130px;
    height: 30px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 14.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 9px;
    box-shadow: 8px;
}

.kartin1 div input {
    background-color: #f44336;
    width: 130px;
    height: 30px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 14.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 9px;
    box-shadow: 8px;
}

.wow {
    margin: auto auto;
    margin-top: 4px;
}

.block7 {
    width: auto;
    height: 223px;
    overflow: hidden;
}

.block77,
.block777 {
    width: auto;
    height: 223px;
}

.block7 h3 {
    text-align: center;
    line-height: 200px;
    margin: 0;
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
}

.block77 h3,
.block777 h3 {
    text-align: center;
    margin-top: 45px;
    font-family: Poppins;
    line-height: 223px;
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
}

.kartin div input:hover {
    background-color: aqua;
    width: 140px;
    height: 40px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 17.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px
}

.kartin1 div input:hover {
    background-color: aqua;
    width: 140px;
    height: 40px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 17.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px
}

.kartin div input:active {
    background-color: aquamarine;
    width: 140px;
    height: 40px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 17.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px
}

.kartin1 div input:active {
    background-color: aquamarine;
    width: 140px;
    height: 40px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 17.04px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 4px
}

.block8 {
    clear: both;
    height: 536.28px;
    background: url(img/fon22.jpeg) no-repeat;
    overflow: hidden;
}

.block8 h3 {
    font-family: Poppins;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 85px;
}

.immm img {
    width: 45px;
    height: 38px;
}

.immm {
    margin: 0px;
    text-align: center;
    margin-top: 87px;
}

.innn {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 51px;
}

.innn li {
    float: left;
    margin-left: 79px
}

.ioioiop img {
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}

.oioi {
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.bolt {
    display: flex;
    justify-content: center;
}

.ioioiop a {
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.innn:first-child {
    margin-left: 0;
}

.ioioiop a:hover {
    background-color: aqua;
}

.ioioiop a:active {
    background-color: aquamarine;
}

.block9 {
    overflow: hidden;
    height: 888px;
}

.block9 h1 {
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    line-height: 48px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-bottom: 0;
    margin-top: 97px;
}

.cond {
    padding: 0;
    list-style-type: none;
    margin: 0;
    float: left;
}

.bryt {
    border-width: 1px;
    border-color: #e8e8e8;
    border-style: solid;
    background-color: #f7f7f7;
    width: 98px;
    height: 139px;
    border-radius: 49px;
    margin-top: 49px;
    margin-left: 21px
}

.bryt h3 {
    font-family: Poppins;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-top: 24px
}

.bryt h4 {
    font-family: Poppins;
    color: #9e9e9e;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.nice {
    height: auto;
    width: 144px;
    display: flex;
    justify-content: center;
    float: left;
    overflow: hidden;
    margin-left: 385px;
    margin-top: 100px;
}

.cond h5 {
    font-family: Poppins;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: -24px;
}

.bryt1 {
    width: 330px;
    height: 139px;
    margin-top: 51px;
}

.bryt1 h4 {
    font-family: RobotoCondensed;
    color: #9e9e9e;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}

.bryt1 h3 {
    font-family: RobotoCondensed;
    color: #f44336;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.nice1 {
    height: auto;
    width: auto;
    overflow: hidden;
    padding-left: 44px;
    float: left;
    margin-top: 100px;
}

.nice1 ul:first-child {
    margin-top: 43px
}

.nice3 {
    width: 570px;
    height: auto;
    margin: 0px;
    overflow: hidden;
}

.fe {
    margin: 0;
    float: left;
    font-family: Poppins;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
}

.lr {
    font-family: Poppins;
    color: #000000;
    font-size: 34px;
    font-weight: 500;
    text-decoration: none;
    float: right
}

.lr:hover {
    color: aqua;
}

.lr:active {
    color: aquamarine;
}

.nice4 {
    width: 570px;
    height: auto;
    margin: 0px;
    overflow: hidden;
    padding-left: 92px;
    margin-top: 100px;
}

img[alt="3foto"] {
    margin: 34px auto;
}

.spic {
    width: 570px;
    height: auto;
    margin: 0px;
    overflow: hidden;
}

.spic ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.assu h5 {
    font-family: RobotoCondensed;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    margin: 0
}

.stayyyy {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    width: 564px;
    height: 40px;
    margin: 3px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.tett {
    display: none;
    clear: both;
    overflow: hidden;
    height: 144px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
    font-family: RobotoCondensed;
    color: #505050;
    font-size: 14px;
    font-weight: 300;
    border-radius: 9px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
    padding-left: 4px;
    padding-right: 4px;
}

.stayyyy:hover {
    background-color: aqua;
    border-color: aqua;
}

.stayyyy:hover + .tett {
    display: flex;
}

.footer {
    margin: 0;
    clear: both;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.footer h5 {
    font-family: ArialNarrow;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: right;
    margin: 0;
}

.block10 {
    width: auto;
    height: 785px;
    background-color: #f7f7f7;
}

.block10 h1 {
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 72px;
}

.b10ul {
    list-style-type: none;
}

.b10li {
    float: left;
    width: 270px;
    margin-left: 30px;
    margin-top: 57px;
}

.b10li p2 {
    font-family: Poppins;
    color: #f44336;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    display: block;
    margin-top: 23px;
}

.b10li p1 {
    font-family: RobotoCondensed;
    color: #838383;
    font-size: 16px;
    font-weight: 300;
    display: block;
    margin-top: 8px;
}

.b10ul1 {
    list-style-type: none;
    margin-top: 17px;
}

.b10li1 {
    float: left;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    margin-left: 17px;
}

.b10ul1:first-child {
    margin-left: 0;
}

.b10ul:first-child {
    margin-left: 0;
}

.b10ul1:hover {
    background-color: aqua;
}

.b10ul1:active {
    background-color: aquamarine;
}

.b10div {
    height: auto;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center
}

.block11 {
    height: 313px;
    width: 1920px;
    background: url(img/fon3.jpg) no-repeat;
    clear: both;
    overflow: hidden;
}

.b11div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 49px;
}

.block11 h1 {
    font-family: Poppins;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin-top: 82px;
}

.b11div input[placeholder="Email"] {
    background-color: #ffffff;
    width: 499px;
    height: 55px;
    font-family: RobotoCondensed;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    padding-left: 30px;
}

.b11div input[value="Subscribe"] {
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    background-color: #f44336;
    width: 119px;
    height: 53px;
    margin-left: 12px;
}

.block12 {
    clear: both;
    overflow: hidden;
    width: auto;
    height: 662px;
}

.b12h1 {
    display: block;
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
}

.b12text {
    float: left;
    width: 427px;
}

.b12text h1 {
    margin-top: 12px;
    font-family: RobotoCondensed;
    color: #f44336;
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
}

.b12text h2 {
    font-family: RobotoCondensed;
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
}

.b12text h2 a {
    font-family: RobotoCondensed;
    color: #f44336;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    display: inline;
    text-decoration: none;
}

.b12text h2 a:hover {
    color: aqua;
}

.b12text h2 a:active {
    color: aquamarine;
}

.b12inpu {
    display: inline-block;
    width: 470px;
    height: auto;
    margin-left: 115px;
}

.b12inpu input[type="text1"] {
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    width: 452px;
    height: 40px;
    font-family: RobotoCondensed;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
}

.b12inpu textarea[type="text2"] {
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    width: 452px;
    height: 166px;
    font-family: RobotoCondensed;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
    padding-top: 15px;
    margin-top: 21px;
}

.b12inpu input[type="submit"] {
    background-color: #f44336;
    width: 140px;
    height: 40px;
    font-family: RobotoCondensed;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.b12inpu input {
    margin-top: 21px;
}

.b12inpu:first-child {
    margin-top: 0;
}

.b12viv {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.block13 {
    height: 450px;
}

.block13 h1 {
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
}

.iframe1 {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.block13 img {
    margin-left: 1825px;
    margin-bottom: -20px;
    margin-top: 49px;
}

.black_line1 {
    margin-top: 13px;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    height: 83px;
    overflow: hidden;
}

.black_line1 ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
}

.black_line1 ul li {
    float: left;
    display: block;
}

.black_line1 ul li a {
    text-decoration: none;
}

.content1 {
    width: auto;
    height: auto;
    clear: both;
}

.dc {
    clear: both;
    height: 60px;
}

.conxh {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    clear: both;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    width: 206px;
    height: 36px;
}

.conxh a {
    text-decoration: none;
    font-family: RobotoCondensed;
    color: #000000;
    font-size: 16.62px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
}

.conxh:hover {
    background-color: aqua;
}

.conxh:active {
    background-color: aquamarine;
}

.b661 {
    display: inline-block;
    width: 956px;
    height: 562px;
    background: url(img/dutyduty.jpg) no-repeat;
}

.b662 {
    display: inline-block;
    width: 956px;
    height: 562px;
    background: url(img/moh.jpg) no-repeat;
}

.b6611 {
    margin-top: 152px;
    margin-left: 113px;
    float: left;
}

.b6611 h5 {
    font-family: Poppins;
    color: #010101;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
}

.b6611 h4 {
    font-family: 'Myriad Pro';
    color: #f44336;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-top: 14px;
}

.b6611 h3 {
    font-family: Poppins;
    color: #000000;
    font-size: 61.97px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    display: inline-block;
    margin-top: 25px;
}

.b6611 p {
    display: inline-block;
    font-family: Poppins;
    color: #8c8c8c;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
    text-decoration: line-through
}

.b6611 input {
    margin-top: 19px;
    display: block;
    font-family: Poppins;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    background-color: #f44336;
    width: 263px;
    height: 60px;
}

.b6611 input:hover {
    background-color: aqua;
}

.b6611 input:active {
    background-color: aquamarine;
}

.container {
    background-color: #f7f7f7;
}

.vneshnie {
    background-color: gainsboro;
    margin-bottom: 110px;
}

.block666 {
    height: 664px;
    background-color: gainsboro;
    margin-bottom: 100px;
}

.block777 {
    height: 167px;
    clear: both;
    overflow: hidden;
}

.block777 h3 {
    margin: 0;
    line-height: 28px;
    margin-top: 49px;
}

.pokupka1 {
    height: 766px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred1,
.cred2 {
    width: 470px;
    height: 420px;
    float: left;
}

.cred2 {
    margin-left: 30px;
}

.cred1div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cred1div img {
    margin-left: 21px;
}

.cred1div:first-child {
    margin: 0;
}

.cred1divdiv {
    margin-top: 57px;
}

.cred2 h1 {
    font-family: Poppins;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.cred2 h2 {
    font-family: Poppins;
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}

.cred2 h4 {
    font-family: RobotoCondensed;
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 32px;
    
}

.cred2 h3 {
    color: #000000;
    font-size: 61.97px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    transform: scaleY(1.0005);
    margin-top: 21px;
}

.cred2 input {
    background-color: #f44336;
    width: 470px;
    height: 62px;
    font-family: Poppins;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 15px;
}
.cred2 input:hover{
    background-color: aqua;
}
.cred2 input:active{
    background-color: aquamarine;
}
input[value="SUBMIT"]:hover{
    background-color: aqua;
}
input[value="SUBMIT"]:active{
    background-color: aquamarine;
}
