*{
    margin: 0 auto;
}
body{
    background: url("img/fon.jpg") no-repeat;
    background-size: 100%;
}
.head{
    width: 1000px;
    margin-top: 100px;
}
.content{
    display: flex;
    width: 1200px;
}
.main1{
    height: auto;
    width: 130px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.tools{
    height: 100px;
}
.t1{
    padding: 0 450px 0 450px;
}
.coordinates {
    text-align: center;
    display: flex;
    justify-content: center;
}
.tool-button, #color, #size-select{
    width: 100px;
    height: 100px;

}
#clen{
    transform: scale(-1, 1)
}
#size-select{
    text-align: center;
    font-size: 40px ;
    color: darkblue;
    border-radius: 10px;
}
#color{
    background:none;
    border: none;
}
.tools{
    display: flex;
    justify-content: center;
}
#canv{
    background-color: white;

}
#no-pryam, #pryam, #line{
    height: 70px;
    width: 100px;
    margin-bottom: 30px;
}