
.blockfive{
	margin-top: 50px;
	@include size(xl){
		max-width: 1200px;
	}
	& h1{
		@extend %font-condensed;
		font-size: 48px;
		font-weight: 300;
		text-align: center;
		padding-bottom: 50px;
		& span {
			color: #D1A954;
		}
	}
	& .gazprom{
		padding: 0 50px;
	}
}